

:root {
  
  --font-family-0: 'Raleway', sans-serif;
  
  --font-family-1: 'Inter', sans-serif;
  

  --color-primary: #74BA43;
  --color-success: #42758F;
  --color-warning: #EB6209;
  --color-dark-background: #3D3D3C;
  --color-light-background: #F0F5FF;
  --color-dark-text: #152542;
  --color-light-text: #3E547C;

  
  --color-custom-0: #54565a;
    
  
  --color-custom-1: #f16022;
    
  
  --color-custom-2: #42758f;
    
  
  --color-custom-3: #f19b76;
    
  
  --color-custom-4: #FFFFFF;
    
  
  --color-custom-5: #91bd77;
    
  
  --color-custom-6: #F8F8F8;
    
  
  --color-custom-7: #777777;
    
  

  --body-background-color: #ffffff;

  --nav-link-color: #152542;
  --nav-link-opacity: 1;
  --nav-link-font-size: 1.6rem;
  --nav-link-font-weight: 300;
  --nav-link-hover-color: #74BA43;
  --nav-link-action-color: #74BA43;
  --nav-link-action-style: button-primary;
  --nav-link-inverted-color: #FFFFFF;
  --nav-link-hover-opacity: 1;
  --nav-link-inverted-opacity: 1;
  --nav-link-action-font-size: 1.7rem;
  --nav-link-font-family: var(--font-family-1, sans-serif);
  --nav-link-action-font-weight: 500;
  --nav-link-inverted-hover-color: #FFFFFF;
  --nav-link-inverted-action-color: #EB6209;
  --nav-link-inverted-hover-opacity: 1;
  --nav-link-action-font-family: 0;
  --nav-link-action-letter-spacing: normal;
  --nav-link-action-text-transform: none;
  --nav-link-current-color: #74BA43;
  --nav-link-current-opacity: 1.0;
  --nav-link-inverted-current-color: #FFFFFF;
  --nav-link-inverted-current-opacity: 1.0;
  --nav-link-letter-spacing: normal;
  --nav-link-text-transform: none;

  --footer-nav-link-color: #152542;
  --footer-nav-link-opacity: 0.9;
  --footer-nav-link-font-size: 1.4rem;
  --footer-nav-link-font-weight: 300;
  --footer-nav-link-inverted-color: #FFFFFF;
  --footer-nav-link-inverted-opacity: 0.9;
  --footer-nav-link-hover-color: #74BA43;
  --footer-nav-link-font-family: var(--font-family-1, sans-serif);
  --footer-nav-link-text-transform: none;
  --footer-nav-link-hover-opacity: 1;
  --footer-nav-link-inverted-hover-color: #74BA43;
  --footer-nav-link-inverted-hover-opacity: 1;
  --footer-nav-category-font-size: 1.2rem;
  --footer-nav-category-color: #777777;
  --footer-nav-category-font-weight: 500;
  --footer-nav-category-font-family: var(--font-family-1, sans-serif);
  --footer-nav-category-letter-spacing: normal;
  --footer-nav-category-text-transform: uppercase;
  --footer-nav-link-letter-spacing: normal;
  --footer-nav-category-inverted-color: #777777;

  --logo-footer-height: 60px;
  --logo-footer-position: 0px;
  --logo-header-height: 60px;
  --logo-header-position: 0px;

  --h1-color: #152542;
  --h1-inverted-color: #FFFFFF;
  --h1-font-style: normal;
  --h1-font-variant: normal;
  --h1-font-weight: 500;
  --h1-font-size: 4.2rem;
  --h1-line-height: 1.25;
  --h1-font-family: var(--font-family-1, sans-serif);
  --h1-letter-spacing: normal;
  --h1-text-transform: none;
  --h1-margin: 0rem 0rem 2rem;

  --h2-color: #74BA43;
  --h2-inverted-color: #FFFFFF;
  --h2-font-style: normal;
  --h2-font-variant: normal;
  --h2-font-weight: 400;
  --h2-font-size: 3.5rem;
  --h2-line-height: 1;
  --h2-font-family: var(--font-family-1, sans-serif);
  --h2-letter-spacing: normal;
  --h2-text-transform: none;
  --h2-margin: 0rem 0rem 2rem;

  --h3-color: #152542;
  --h3-inverted-color: #FFFFFF;
  --h3-font-style: normal;
  --h3-font-variant: normal;
  --h3-font-weight: 400;
  --h3-font-size: 2rem;
  --h3-line-height: 1.3;
  --h3-font-family: var(--font-family-1, sans-serif);
  --h3-letter-spacing: normal;
  --h3-text-transform: none;
  --h3-margin: 0rem 0rem 2rem;

  --h4-color: #3E547C;
  --h4-inverted-color: initial;
  --h4-font-style: normal;
  --h4-font-variant: normal;
  --h4-font-weight: initial;
  --h4-font-size: 1.6rem;
  --h4-line-height: initial;
  --h4-font-family: var(--font-family-0, sans-serif);
  --h4-letter-spacing: normal;
  --h4-text-transform: none;
  --h4-margin: 0rem 0rem 2rem;

  --h5-color: #3E547C;
  --h5-inverted-color: initial;
  --h5-font-style: normal;
  --h5-font-variant: normal;
  --h5-font-weight: initial;
  --h5-font-size: 1.6rem;
  --h5-line-height: 1.3;
  --h5-font-family: var(--font-family-0, sans-serif);
  --h5-letter-spacing: normal;
  --h5-text-transform: none;
  --h5-margin: 0rem 0rem 2rem;

  --h6-color: #3E547C;
  --h6-inverted-color: initial;
  --h6-font-style: normal;
  --h6-font-variant: normal;
  --h6-font-weight: initial;
  --h6-font-size: 1.6rem;
  --h6-line-height: 1.3;
  --h6-font-family: var(--font-family-0, sans-serif);
  --h6-letter-spacing: normal;
  --h6-text-transform: none;
  --h6-margin: 0rem 0rem 2rem;

  --paragraph-color: #3E547C;
  --paragraph-inverted-color: #FFFFFF;
  --paragraph-font-style: normal;
  --paragraph-font-variant: normal;
  --paragraph-font-weight: 300;
  --paragraph-font-size: 1.6rem;
  --paragraph-line-height: 1.6;
  --paragraph-font-family: var(--font-family-1, sans-serif);
  --paragraph-letter-spacing: normal;
  --paragraph-text-transform: none;
  --paragraph-margin: 0rem 0rem 2rem;

  --blog-h1-color: #152542;
  --blog-h1-font-style: normal;
  --blog-h1-font-variant: normal;
  --blog-h1-font-weight: 400;
  --blog-h1-font-size: 5.5rem;
  --blog-h1-line-height: 1.3;
  --blog-h1-font-family: var(--font-family-1, sans-serif);
  --blog-h1-letter-spacing: normal;
  --blog-h1-text-transform: none;
  --blog-h1-margin: 4rem 0rem 0rem;

  --blog-h2-color: #152542;
  --blog-h2-font-style: normal;
  --blog-h2-font-variant: normal;
  --blog-h2-font-weight: 400;
  --blog-h2-font-size: 3.5rem;
  --blog-h2-line-height: 1.3;
  --blog-h2-font-family: var(--font-family-1, sans-serif);
  --blog-h2-letter-spacing: normal;
  --blog-h2-text-transform: none;
  --blog-h2-margin: 4rem 0rem 0rem;

  --blog-h3-color: #152542;
  --blog-h3-font-style: normal;
  --blog-h3-font-variant: normal;
  --blog-h3-font-weight: 400;
  --blog-h3-font-size: 2rem;
  --blog-h3-line-height: 1.3;
  --blog-h3-font-family: var(--font-family-1, sans-serif);
  --blog-h3-letter-spacing: normal;
  --blog-h3-text-transform: none;
  --blog-h3-margin: 4rem 0rem 0rem;

  --blog-h4-color: initial;
  --blog-h4-font-style: normal;
  --blog-h4-font-variant: normal;
  --blog-h4-font-weight: initial;
  --blog-h4-font-size: 1.6rem;
  --blog-h4-line-height: 1.3;
  --blog-h4-font-family: var(--font-family-0, sans-serif);
  --blog-h4-letter-spacing: normal;
  --blog-h4-text-transform: none;
  --blog-h4-margin: 4rem 0rem 0rem;

  --blog-h5-color: initial;
  --blog-h5-font-style: normal;
  --blog-h5-font-variant: normal;
  --blog-h5-font-weight: initial;
  --blog-h5-font-size: 1.6rem;
  --blog-h5-line-height: 1.3;
  --blog-h5-font-family: var(--font-family-0, sans-serif);
  --blog-h5-letter-spacing: normal;
  --blog-h5-text-transform: none;
  --blog-h5-margin: 4rem 0rem 0rem;

  --blog-h6-color: initial;
  --blog-h6-font-style: normal;
  --blog-h6-font-variant: normal;
  --blog-h6-font-weight: initial;
  --blog-h6-font-size: 1.6rem;
  --blog-h6-line-height: 1.3;
  --blog-h6-font-family: var(--font-family-0, sans-serif);
  --blog-h6-letter-spacing: normal;
  --blog-h6-text-transform: none;
  --blog-h6-margin: 4rem 0rem 0rem;

  --blog-paragraph-color: #152542;
  --blog-paragraph-font-style: normal;
  --blog-paragraph-font-variant: normal;
  --blog-paragraph-font-weight: 300;
  --blog-paragraph-font-size: 1.6rem;
  --blog-paragraph-line-height: 1.6;
  --blog-paragraph-font-family: var(--font-family-1, sans-serif);
  --blog-paragraph-letter-spacing: normal;
  --blog-paragraph-text-transform: none;
  --blog-paragraph-margin: 2.5rem 0rem 0rem;

  --checklist-color: #152542;
  --checklist-font-size: 1.6rem;
  --checklist-icon-size: 0.8em;
  --checklist-font-style: normal;
  --checklist-font-variant: normal;
  --checklist-icon-color: #74BA43;
  --checklist-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%2374BA43' d='M0 11l2-2 5 5L18 3l2 2L7 18z'/%3E%3C/svg%3E");
  --checklist-font-weight: 300;
  --checklist-line-height: 1.6;
  --checklist-inverted-color: #FFFFFF;
  --checklist-font-family: var(--font-family-1, sans-serif);
  --checklist-inverted-icon-color: #42758F;
  --checklist-inverted-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%2342758F' d='M0 11l2-2 5 5L18 3l2 2L7 18z'/%3E%3C/svg%3E");
  --checklist-margin-bottom: 0.3rem;

  --quote-big-color: #152542;
  --quote-big-inverted-color: #FFF;
  --quote-big-font-style: normal;
  --quote-big-font-variant: normal;
  --quote-big-font-weight: 400;
  --quote-big-font-size: 2rem;
  --quote-big-font-style: italic;
  --quote-big-line-height: 1.6;
  --quote-big-font-family: var(--font-family-1, sans-serif);
  --quote-big-letter-spacing: normal;
  --quote-big-text-transform: none;
  --quote-big-icon-color: #74BA43;
  --quote-big-inverted-icon-color: #42758F;
  --quote-big-mark-size: 2rem;

  --highlight-color: #74BA43;
  --inverted-highlight-color: #EB6209;

  --box-shadows-large: 0px 10px 25px -8px rgba(0, 0, 0, 0.25);
  --box-shadows-medium: 0px 5px 20px -5px rgba(0, 0, 0, 0.15);
  --box-shadows-none: none;
  --box-shadows-small: 0px 1px 3px rgba(0, 0, 0, 0.12);
  --box-shadows-xlarge: 0px 20px 40px -10px rgba(0, 0, 0, 0.25);


  --button-primary-font-size: 1.4rem;
  --button-primary-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-primary-text-color: #FFFFFF;
  --button-primary-text-transform: none;
  --button-primary-letter-spacing: normal;
  --button-primary-font-weight: 500;
  --button-primary-text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-primary-hover-text-color: #FFFFFF;
  --button-primary-hover-text-shadow: none;
  --button-primary-hover-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-primary-hover-opacity: 0.9;
  --button-primary-line-height: 2;
  --button-primary-border-style: solid;
  --button-primary-border-color: #74BA43;
  --button-primary-border-width: 0px;
  --button-primary-border-radius: 8px;
  --button-primary-font-family: var(--font-family-1, sans-serif);
  --button-primary-inverted-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-primary-inverted-text-color: #FFFFFF;
  --button-primary-hover-border-color: #74BA43;
  --button-primary-inverted-text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-primary-background-color: #74BA43;
  --button-primary-inverted-hover-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-primary-inverted-hover-opacity: 0.9;
  --button-primary-hover-background-color: #91bd77;
  --button-primary-inverted-border-color: #EB6209;
  --button-primary-inverted-border-width: 0px;
  --button-primary-inverted-hover-border-color: #EB6209;
  --button-primary-inverted-hover-text-color: #000000;
  --button-primary-inverted-hover-text-shadow: none;
  --button-primary-inverted-background-color: #EB6209;
  --button-primary-inverted-hover-background-color: #EB6209;

  --button-secondary-font-size: 1.4rem;
  --button-secondary-box-shadow: 0px 0.9px 1.6px #00000033;
  --button-secondary-text-color: #74BA43;
  --button-secondary-text-transform: none;
  --button-secondary-letter-spacing: normal;
  --button-secondary-font-weight: 400;
  --button-secondary-text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --button-secondary-hover-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-secondary-hover-opacity: 1;
  --button-secondary-hover-text-color: #74BA43;
  --button-secondary-hover-text-shadow: none;
  --button-secondary-hover-border-color: #74BA43;
  --button-secondary-line-height: 2;
  --button-secondary-border-style: solid;
  --button-secondary-border-color: #74BA43;
  --button-secondary-border-width: 1px;
  --button-secondary-border-radius: 8px;
  --button-secondary-font-family: var(--font-family-1, sans-serif);
  --button-secondary-inverted-box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-secondary-inverted-text-color: #152542;
  --button-secondary-inverted-text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --button-secondary-background-color: ;
  --button-secondary-inverted-hover-text-color: #000000;
  --button-secondary-inverted-hover-text-shadow: none;
  --button-secondary-inverted-hover-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  --button-secondary-inverted-hover-opacity: 0.9;
  --button-secondary-hover-background-color: #F0F7E8;
  --button-secondary-inverted-border-color: #FFFFFF;
  --button-secondary-inverted-border-width: 0px;
  --button-secondary-inverted-hover-border-color: #FFFFFF;
  --button-secondary-inverted-background-color: #FFFFFF;
  --button-secondary-inverted-hover-background-color: #FFFFFF;

  --button-action-link-font-size: 1.6rem;
  --button-action-link-arrow-size: 0.8em;
  --button-action-link-text-color: #74BA43;
  --button-action-link-text-transform: none;
  --button-action-link-letter-spacing: normal;
  --button-action-link-arrow-color: #74BA43;
  --button-action-link-font-weight: 500;
  --button-action-link-hover-color: #3E547C;
  --button-action-link-hover-opacity: 0.5;
  --button-action-link-font-family: var(--font-family-1, sans-serif);
  --button-action-link-inverted-text-color: #F0F5FF;
  --button-action-link-inverted-arrow-color: #F0F5FF;
  --button-action-link-inverted-hover-color: #FFFFFF;
  --button-action-link-inverted-hover-opacity: 0.9;

  --form-field-background-color: rgba(0, 0, 0, 0.02);
  --form-field-border-color: #dce4f4;
  --form-field-border-radius: 2px;
  --form-field-focus-border-color: #74BA43;
  --form-field-text-color: #444444;
  --form-field-font-family: var(--font-family-1, sans-serif);
  --form-field-font-size: 1.4rem;
  --form-field-font-weight: initial;
  --form-field-padding-x: 1rem;
  --form-field-padding-y: 0.8rem;
  --form-field-placeholder-color: initial;

  --form-help-text-color: #647fb4;
  --form-help-font-family: var(--font-family-1, sans-serif);
  --form-help-font-size: 1.4rem;
  --form-help-font-weight: initial;

  --form-label-text-color: #1B314B;
  --form-label-font-family: var(--font-family-1, sans-serif);
  --form-label-font-size: 1.3rem;
  --form-label-font-weight: 500;
  --form-label-letter-spacing: normal;
  --form-label-text-transform: none;
  --form-label-margin-x: 20px;
  --form-label-margin-y: 20px;

  --form-width: 420px;

  --box-padding-top: 2rem;
  --box-padding-right: 0rem;
  --box-padding-bottom: 2rem;
  --box-padding-left: 0rem;

  --section-padding-top: 8rem;
  --section-padding-right: 2rem;
  --section-padding-bottom: 8rem;
  --section-padding-left: 2rem;

  --section-width: 1200px;
  --header-padding: 8rem;

  --footer-background-color: #0F1F2B;
  --header-background-color: #FFFFFF;
  --header-background-blur-color: rgba(255,255,255,0.5);
  --header-inverted-background-color: #000000;
  --header-inverted-background-blur-color: rgba(255,255,255,0.5);
}

@media only screen and (max-width: 767px) {
  :root {
    --button-primary-font-size: 1.4rem;
    
    
    

    --button-secondary-font-size: 1.4rem;
    
    
    

    --h1-font-size: 3.0rem;
    
    
    

    --h2-font-size: 2.5rem;
    
    
    

    --h3-font-size: 2.0rem;
    
    
    

    

    

    

    --paragraph-font-size: 1.4rem;
    
    --paragraph-letter-spacing: normal;
    

    --blog-paragraph-font-size: 1.6rem;
    
    
    

    --blog-h1-font-size: 3.0rem;
    
    
    

    --blog-h2-font-size: 2.5rem;
    
    
    

    --blog-h3-font-size: 2.0rem;
    
    
    

    

    

    

    --quote-big-font-size: 2rem;
    
    
    

    --checklist-font-size: 1.4rem;
    
    
    

    --button-action-link-font-size: 1.5rem;
    
    

    --form-field-padding-x: 1rem;
    --form-field-padding-y: 0.8rem;
    --form-field-font-size: 1.5rem;
    

    --form-label-font-size: 1.5rem;
    

    --form-help-font-size: 1.4rem;

    --form-width: 400px;

    --form-label-margin-x: 20px;
    --form-label-margin-y: 20px;

    
    --logo-footer-height: 60px;
    --logo-header-height: 60px;
  }
  .box {
    --box-padding-top: 2rem!important;
    --box-padding-right: 2rem!important;
    --box-padding-bottom: 2rem!important;
    --box-padding-left: 2rem!important;

    --section-padding-top: 2rem!important;
    --section-padding-right: 0rem!important;
    --section-padding-bottom: 2rem!important;
    --section-padding-left: 0rem!important;
  }
}



/* Color Utility-classes
************************************/

.eps .text-brand-primary-color { color: #74BA43; }
.eps .bg-brand-primary-color { background-color: #74BA43; }
.eps .border-brand-primary-color { border-color: #74BA43; }

.eps .text-success-color { color: #42758F; }
.eps .bg-success-color { background-color: #42758F; }
.eps .border-success-color { border-color: #42758F; }

.eps .text-warning-color { color: #EB6209; }
.eps .bg-warning-color { background-color: #EB6209; }
.eps .border-warning-color { border-color: #EB6209; }

.eps .text-dark-background-color { color: #3D3D3C; }
.eps .bg-dark-background-color { background-color: #3D3D3C; }
.eps .border-dark-background-color { border-color: #3D3D3C; }

.eps .text-light-background-color { color: #F0F5FF; }
.eps .bg-light-background-color { background-color: #F0F5FF; }
.eps .border-light-background-color { border-color: #F0F5FF; }

.eps .text-dark-text-color { color: #152542; }
.eps .bg-dark-text-color { background-color: #152542; }
.eps .border-dark-text-color { border-color: #152542; }

.eps .text-light-text-color { color: #3E547C; }
.eps .bg-light-text-color { background-color: #3E547C; }
.eps .border-light-text-color { border-color: #3E547C; }

